body {
	font-size:14pt;
	margin:0px;
	padding:0px;
	background-color:#E6E6E6;
}

input {
	border: 1px solid gray;
	width:150px;
}


img{
	padding:0;
	margin:0;
}

.centerpanel {
	position:absolute;
	left:300px;
	top:200px;
	width:200px;
	margin:10px;
}

.gamelist {
	width:200px;
	padding:20px;
	border: 1px solid rgb(191, 191, 191);
	color:black;
	background-color: rgb(240, 240, 240);
	text-align:center;
}

.loginpane {
	width:500px;
	padding:20px;
	border: 1px solid rgb(191, 191, 191);
	color:black;
	background-color: rgb(240, 240, 240);
	text-align:center;
	font-size:12pt;
}

.maincontent {
	position:absolute;
	top:0px;
	left:0px;
	width: 800px;
	height: 600px;
	border: 1px solid rgb(191, 191, 191);
	color: black;
	background: transparent;
}



#loading {
	margin:50px auto;
	text-align:center;
}

#loading_container {
	position:relative;
	margin:0 auto;
	width:50%;
	height:20px;
	border:1px solid black;
	text-align:center;
	padding-top:10px;
}

#loading_progress {
	width:0%;
	background-color:green;
	position:absolute;
	height:30px;
	top:0px;
	left:0px;
	opacity:0.4;
}

#game_canvas {
	float: left;
	width:800;
	height:600;
}

.game_container div {
	position: absolute;
	margin: 0px;
	padding: 0px;
}

#myvideo {
	position:absolute;
	display:none;
	top:0px;
	left:0px;
	margin:0 auto;
}

#external_game_item {
	position:absolute;
	display:none;
	top:0px;
	left:0px;
	margin:0 auto;
	width:200;
	height:200;
}

#debug_board_container {
	float:right;
}
