<!DOCTYPE HTML>
<html>
<head>
	<title>ISEEK</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=800, user-scalable=no" />

	<link href="/site_media/style.css" rel="stylesheet" type="text/css" />
	<link href="/site_media/jquery-ui.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="/site_media/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/site_media/jquery-ui-1.10.3.custom.min.js"></script>

	<script src='/site_media/javascript/quintus.js'></script>
	<script src='/site_media/javascript/quintus_extension.js'></script>


	<script type="text/javascript">
		$(document).ready(function(){
			{% block loadgame %}
			{% endblock %}
		});
	</script>
</head>

<body class="mybody">
{% block content %}
{% endblock %}
</body>
</html>
