{% extends "base.html" %}

{% block content %}
<div id='loading'>
	<div id='loading_container'>
		Loading...
		<div id='loading_progress'></div>
	</div>
</div>

<video id='myvideo'><source src='/site_media/assets/new_game/video/output1.ogg' type='video/ogg'></video>

<div class='game_container'>
	<canvas id='game_canvas' width='800' height='600'></canvas>
</div>

<div id='external_game_item'></div>
	<script type="text/javascript" src="/site_media/javascript/javascript.js"></script>
	<script type="text/javascript" src="/site_media/javascript/io.js"></script>
	<script type="text/javascript" src="/site_media/javascript/ui.js"></script>
	<script type="text/javascript" src="/site_media/javascript/building.js"></script>
	<script type="text/javascript" src="/site_media/javascript/material.js"></script>
	<script type="text/javascript" src="/site_media/javascript/people.js"></script>
	<script type="text/javascript" src="/site_media/javascript/primary_stages.js"></script>
	<script type="text/javascript" src="/site_media/javascript/score.js"></script>
	<script type="text/javascript" src="/site_media/javascript/tag.js"></script>
	<script type="text/javascript" src="/site_media/javascript/talk.js"></script>
	<script type="text/javascript" src="/site_media/javascript/custom_components.js"></script>


	<script type="text/javascript" src="/site_media/javascript/cards.js"></script>
	<script type="text/javascript" src="/site_media/javascript/certificates.js"></script>
	<script type="text/javascript" src="/site_media/javascript/load.js"></script>

{% endblock %}

