{% extends "base.html" %}

{% block loadgame %}

game = process_xml('{{ url }}');
build_game(game);
$('#assetlistoptions').scrollable();
{% endblock %}

{% block content %}
	<div class='maincontent' id='gamecanvas'>
	</div>
	<div id='assetlist'>
		<div id='assets'></div>
		<div id='assetlistoptions'>
			<hr />
			<div id='addassetform' style='display:none; width:100%'>
				<input type="file" name="filename" /><br />
				<input type="button" name="uploadbutton" id='uploadbutton' value="upload" />
			</div>
			<button type='button' onclick='add()'>add</button>
			<button type='button' onclick='remove()'>delete</button>
		</div>
	</div>

	<div id='framelist'>
		<ul>
			<li onclick='loadFrame(this.id)' id='1'>
				<div class='framelist-div' id='framelist-div-1'>
					<img 
						src='/site_media/add.png' 
						alt='add' 
						class='addIcon' 
						onclick='event.stopPropagation();add_frame("1");' 
					/>
					1
				</div>
			</li>
		</ul>
		<button onclick='add_frame("");'>Add</button>
	</div>
{% endblock %}

